.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

.idea/libraries/appcompat_v7_19_0_1.xml

.idea/libraries/appcompat_v7_19_1_0.xml

.idea/libraries/support_v4_19_0_1.xml

.idea/libraries/appcompat_v7_19_1_0.xml

.idea/libraries/support_v4_19_1_0.xml
